<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <!--<add name="PriceSync.Properties.Settings.Bazaar_DataBaseConnectionString"
        connectionString="Data Source=192.168.10.47;Initial Catalog=Bazaar_DataBase;Persist Security Info=True;;User ID=8668;Password=09112064568"
        providerName="System.Data.SqlClient" />-->

  <add name="PriceSync.Properties.Settings.Bazaar_DataBaseConnectionString"
       connectionString="Data Source=TNOTE\MSSQLSERVER2012;Initial Catalog=Bazaar_DataBase;Persist Security Info=True;;User ID=dbuser;Password=dbuser"
       providerName="System.Data.SqlClient" />

  <add name="PriceSync.Properties.Settings.EconomyTree" connectionString="Data Source=192.168.10.41;Initial Catalog=SETTING;Persist Security Info=True;User ID=8668;Password=09112064568"
        providerName="System.Data.SqlClient" />
    <add name="PriceSync.Properties.Settings.NEWS_GENConnectionString"
        connectionString="Data Source=192.168.10.41;Initial Catalog=NEWS_GEN;Persist Security Info=True;User ID=8668;Password=09112064568"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PriceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.10.47/core/Price.asmx" binding="basicHttpBinding"
                bindingConfiguration="PriceSoap" contract="PriceSrvc.PriceSoap"
                name="PriceSoap" />
        </client>
    </system.serviceModel>
</configuration>
